<?xml version="1.0"?>
<config>
    <modules>
        <Learning_Domaine>
            <version>0.1.0</version>
        </Learning_Domaine>
    </modules>

    <global>
        <helpers>
            <learning_domaine>
                <class>Learning_Domaine_Helper</class>
            </learning_domaine>
        </helpers>
        <blocks>
            <learning_domaine>
                <class>Learning_Domaine_Block</class>
            </learning_domaine>
        </blocks>
        <models>
            <learning_domaine>
                <class>Learning_Domaine_Model</class>
                <resourceModel>learning_domaine_resource</resourceModel>
            </learning_domaine>
            <learning_domaine_resource>
                <class>Learning_Domaine_Model_Resource</class>
                <entities>
                    <domaine>
                        <table>learning_domaine_domaine</table>
                    </domaine>
                </entities>
            </learning_domaine_resource>
        </models>
        <resources>
            <learning_domaine_setup>
                <setup>
                    <module>Learning_Domaine</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </learning_domaine_setup>
            <learning_domaine_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </learning_domaine_write>
            <learning_domaine_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </learning_domaine_read>
        </resources>
    </global>

    <frontend>
        <routers>
            <learning_domaine>
                <use>standard</use>
                <args>
                    <module>Learning_Domaine</module>
                    <frontName>domaine</frontName>
                </args>
            </learning_domaine>
        </routers>
        <layout>
            <updates>
                <learning_domaine>
                    <file>learning/domaine.xml</file>
                </learning_domaine>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Learning_Domaine_Adminhtml before="Mage_Adminhtml">Learning_Domaine_Adminhtml</Learning_Domaine_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <learning_domaine>
                    <files>
                        <default>Learning_Domaine.csv</default>
                    </files>
                </learning_domaine>
            </modules>
        </translate>
        <layout>
            <updates>
                <learning_domaine>
                    <file>learning_domaine/learning_domaine.xml</file>
                </learning_domaine>
            </updates>
        </layout>
    </adminhtml>
</config>
